<div class="container">

<p id="notice"><%= notice %></p>

<p>
  <strong>Customer:</strong>
  <%= @order.user.name %> <%= @order.user.surname %>
</p>
<br>
<p>
  <strong>Product Code:</strong>
  <%= @order.product.product_code %>
</p>

<p>
  <strong>Description:</strong>
  <%= @order.product.product_description %>
</p>

<p>
  <strong>Quantity ordered:</strong>
  <%= @order.quantity %>
</p>

<p>
  <strong>Total Price:</strong>
  <%= @order.total_price %>
</p>

<br>


<p>
  <strong>Order placed:</strong>
  <%= @order.created_at %>
</p>
<%= link_to 'Back', orders_path %>

</div>