<div class="container">

<p id="notice"><%= notice %></p>

<p>
  <strong>User who placed the order:</strong>
  <%= @order.user.name %>
</p>

<p>
  <strong>Product Code:</strong>
  <%= @order.product.product_code %>
</p>

<p>
  <strong>Description:</strong>
  <%= @order.product.product_description %>
</p>

<p>
  <strong>Quantity ordered:</strong>
  <%= @order.quantity %>
</p>

<p>
  <strong>Total Price:</strong>
  <%= @order.total_price %>
</p>

<%= link_to 'Back', orders_path %>

</div>